body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
}

.navbar {
    background: #0a192f;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    width: 80%;
    margin: 40px auto;
}

.card {
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.stats-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stat {
    background: #ffffff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.trend-up {
    color: green;
    font-weight: bold;
}

.trend-down {
    color: red;
    font-weight: bold;
}
.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode .card {
    background: #1e1e1e;
    color: white;
}

.dark-mode .navbar {
    background: #000;
}
#loader {
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;
}