{% extends "base.html" %}
{% block content %}

<h2>Admin Dashboard</h2>

<div class="stats-box">
    <div class="mini-bar">
    <div class="mini-fill" style="width: {{ (avg_rating or 0) * 20 }}%;"></div>
</div>
    <div class="stat">
        <h3>Total Users</h3>
        <p style="font-size: 28px; font-weight: bold;">{{ total_users }}</p>
    </div>

    <div class="stat">
        <h3>Total Predictions</h3>
        <p>{{ total_predictions }}</p>
    </div>

    <div class="stat">
        <h3>Average Rating</h3>
        <p>{{ avg_rating }}</p>
    </div>
</div>

<div class="card">
    <h3>Most Used Model</h3>
    <p>{{ most_used_model }}</p>
</div>

<div class="card">
    <h3>User Feedback</h3>
    {% for fb in feedbacks %}
        <p><strong>Rating:</strong> {{ fb.rating }}</p>
        <p>{{ fb.message }}</p>
        <hr>
    {% endfor %}
</div>

{% endblock %}